@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&display=swap");
:root {
  --buttonColor: tomato;
  --button-padding: 0.5em 2em;
  --font: "Playfair Display", serif;
  --transition: all 0.2s ease-in;
}

body {
  font-family: "Playfair Display", serif;
  text-align: center;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px),
    radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

#dealer-cards img {
  height: 175px;
  width: 125px;
  margin: 1px;
  box-shadow: rgba(96, 105, 93, 0.1) 0px 20px 25px -5px,
    rgba(124, 175, 147, 0.04) 0px 10px 10px -5px;
}

#your-cards img {
  height: 175px;
  width: 125px;
  margin: 1px;
  box-shadow: rgba(96, 105, 93, 0.1) 0px 20px 25px -5px,
    rgba(124, 175, 147, 0.04) 0px 10px 10px -5px;
}
.button {
  padding: var(--button-padding);
  border-radius: 10px;
  font-size: 15px;
  width: 30%;
  background-color: var(--buttonColor);
  border-width: 0;
  font-family: var(--font);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  transition: all 0.1s ease-in;
  margin: 10px;
}
.button:hover {
  transform: scale(1.03);
  background-color: lightblue;
}
#hit {
}

#stay {
}
.results-show {
  height: 40vh;
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #383838;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 33px;
  border: 4px double black;
  display: flex;
  background-color: lightcoral;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3crect width='180' height='180' clip-path='url(%26quot%3b%23SvgjsClipPath1001%26quot%3b)' x='1110.01' y='-62.87' fill='url(%23SvgjsPattern1002)' transform='rotate(79.7%2c 1200.01%2c 27.13)'%3e%3c/rect%3e%3ccircle r='46.666666666666664' cx='792.6' cy='18.14' stroke='%23d3b714' stroke-width='1.24' stroke-dasharray='3%2c 3'%3e%3c/circle%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath1003%26quot%3b)' x='505.53' y='249.89' fill='url(%23SvgjsPattern1004)' transform='rotate(277.39%2c 535.53%2c 279.89)'%3e%3c/rect%3e%3cpath d='M1184.3200000000002 437.87 L1154.8500000000001 437.55L1155.5106605733833 451.7843394266168z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1151.88 407.09a5.6 5.6 0 1 0-6.96 8.78 5.6 5.6 0 1 0 6.96-8.78zM1141.94 419.63a5.6 5.6 0 1 0-6.95 8.78 5.6 5.6 0 1 0 6.95-8.78zM1132.01 432.17a5.6 5.6 0 1 0-6.96 8.78 5.6 5.6 0 1 0 6.96-8.78zM1122.07 444.71a5.6 5.6 0 1 0-6.95 8.78 5.6 5.6 0 1 0 6.95-8.78zM1159.21 372.07a5.6 5.6 0 1 0-6.95 8.78 5.6 5.6 0 1 0 6.95-8.78zM1149.27 384.61a5.6 5.6 0 1 0-6.95 8.78 5.6 5.6 0 1 0 6.95-8.78zM1139.34 397.15a5.6 5.6 0 1 0-6.96 8.78 5.6 5.6 0 1 0 6.96-8.78zM1129.4 409.69a5.6 5.6 0 1 0-6.95 8.78 5.6 5.6 0 1 0 6.95-8.78z' stroke='%23e73635' stroke-width='2.19' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3cpath d='M947.6 574.9 L851.69 585.16L959.8091437874765 640.1941437874765z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1444.3600000000001 463.09000000000003 L1450.89 405.19L1415.3006083586213 401.81560835862115z' fill='%23d3b714'%3e%3c/path%3e%3crect width='88.2' height='88.2' clip-path='url(%26quot%3b%23SvgjsClipPath1005%26quot%3b)' x='148.88' y='333.59' fill='url(%23SvgjsPattern1006)' transform='rotate(339.95%2c 192.98%2c 377.69)'%3e%3c/rect%3e%3crect width='89' height='89' clip-path='url(%26quot%3b%23SvgjsClipPath1007%26quot%3b)' x='212.36' y='378.84' fill='url(%23SvgjsPattern1008)' transform='rotate(144.57%2c 256.86%2c 423.34)'%3e%3c/rect%3e%3crect width='192' height='192' clip-path='url(%26quot%3b%23SvgjsClipPath1009%26quot%3b)' x='732.38' y='322.1' fill='url(%23SvgjsPattern1010)' transform='rotate(35.53%2c 828.38%2c 418.1)'%3e%3c/rect%3e%3crect width='171.92' height='171.92' clip-path='url(%26quot%3b%23SvgjsClipPath1011%26quot%3b)' x='858.3' y='369.31' fill='url(%23SvgjsPattern1012)' transform='rotate(163.51%2c 944.26%2c 455.27)'%3e%3c/rect%3e%3crect width='131.8' height='131.8' clip-path='url(%26quot%3b%23SvgjsClipPath1013%26quot%3b)' x='886.1' y='138.82' fill='url(%23SvgjsPattern1014)' transform='rotate(356.43%2c 952%2c 204.72)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1002'%3e%3cpath d='M0 6L3 0L6 6' stroke='%23d3b714' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1001'%3e%3ccircle r='45' cx='1200.01' cy='27.13'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1004'%3e%3cpath d='M0 6L3 0L6 6' stroke='%23037b0b' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1003'%3e%3ccircle r='15' cx='535.53' cy='279.89'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='88.2' height='8.82' patternUnits='userSpaceOnUse' id='SvgjsPattern1006'%3e%3crect width='88.2' height='4.41' x='0' y='0' fill='%23d3b714'%3e%3c/rect%3e%3crect width='88.2' height='4.41' x='0' y='4.41' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1005'%3e%3ccircle r='22.05' cx='192.98' cy='377.69'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='8.9' height='8.9' patternUnits='userSpaceOnUse' id='SvgjsPattern1008'%3e%3cpath d='M4.45 1L4.45 7.9M1 4.45L7.9 4.45' stroke='%23e73635' fill='none' stroke-width='1.79'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1007'%3e%3ccircle r='22.25' cx='256.86' cy='423.34'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1010'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='%23d3b714' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1009'%3e%3ccircle r='48' cx='828.38' cy='418.1'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6.14' height='6.14' patternUnits='userSpaceOnUse' id='SvgjsPattern1012'%3e%3cpath d='M0 6.14L3.07 0L6.14 6.14' stroke='%23e73635' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1011'%3e%3ccircle r='42.98' cx='944.26' cy='455.27'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='13.18' height='13.18' patternUnits='userSpaceOnUse' id='SvgjsPattern1014'%3e%3cpath d='M0 13.18L6.59 0L13.18 13.18' stroke='%23e73635' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1013'%3e%3ccircle r='32.95' cx='952' cy='204.72'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}
#results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#results-p {
  animation: my 1s 0.4s infinite;

  width: 40%;
  border-radius: 7px;
}
#results-p-hidden {
  display: none;
}
.results {
  height: 40vh;
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  margin: auto;
  background-color: #383838;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 33px;
  border: 4px double white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.confirm-button {
  border-width: 0;
  background-color: transparent;

  color: tomato;
  width: 40%;
  padding: 0.5em 1em;
  font-size: 22px;
  transition: var(--transition);
  cursor: pointer;
}
.win-card-show {
  background-color: red;
  width: 400px;
  height: 400px;
  overflow: visible;
}
.confirm-button:hover {
  transform: scale(1.05);
}

@keyframes my {
  0% {
    background-color: rgb(179, 116, 105);
    transform: scale(1);
  }
  100% {
    background-color: #282828;
    transform: scale(1.02);
  }
}
